@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    color: white;
    background-color: #2C2F33;
    font-size: larger;
    font-family: 'Roboto', sans-serif;
}

.header {
    padding: 60px;
    text-align: center;
    background: #D98F8F;
    color: white;
    font-size: 30px;
  }

a:link{
    color: #D98F8F;
    text-decoration: none;
}

a:hover{
    color: #D98F8F;
}

a:active{
    color: #D98F8F;
}

a:visited{
    color: #D98F8F;
}


